@use "sass:math";

[class*="container"] {
	max-width: rem($maxWidthContainer);
	margin: 0 auto;
	padding: 0 clamp(var(--container-padding), 3vw, rem($generalPadding));
	container-type: inline-size;
}

[class*="__wrapper"] {
	padding: clamp(var(--container-padding), 3vw, rem($generalPadding));
}

.container-small {
	max-width: 996px;
}

h2 {
	font-size: clamp(20px, 4vw, 40px);
	font-weight: 700;
	line-height: clamp(32px, 4vw, 48px);
}

h3{
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

:where([class*="body"]) h2 {
	text-align: center;
}

:where(.slider) a {
	color: currentColor;
}

* {
	margin: 0;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--text-color);
	font-family: var(--font-main);
}

section {
	padding: clamp(var(--container-padding), 3vw, rem($generalPadding)) 0;
}

main {
	flex: 1;
}

