/* FONTS */
@import "fonts";

/* SWIPER */
@import "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" layer;

/* BASE */
@import "functions";
@import "normalize";
@import "vars";
@import "mixins";
@import "base";
@import "ui";

/* BLOCKS */

.banner {
	&__wrapper {
		text-align: center;
		background-color: var(--bannerBg-color);
		background-image: url("../img/banner-fly.svg"),
			url("../img/banner-phone.svg");
		background-repeat: no-repeat;
		background-size: clamp(150px, 22vw, 263px), clamp(150px, 22vw, 277px);
		background-position: left top 37px, right bottom;
		border-radius: clamp(var(--container-padding), 3vw, var(--big-radius));
		color: var(--subaccent-color);
	}
	&__title {
		font-weight: 900;
		font-size: clamp(24px, 6vw, 60px);
		line-height: clamp(36px, 8vw, 72px);
	}
	&__description {
		font-size: clamp(16px, 2vw, 17px);
		line-height: 23.8px;
		margin-top: 4px;
		text-wrap: balance;
	}
	&__actions {
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		max-width: 664px;
		gap: 8px;
		padding: clamp(var(--container-padding), 3vw, rem($generalPadding)) 0 14px;
	}
}

.social {
	&__wrapper {
		box-shadow: 0px 20px 60px 0px rgba(26, 26, 26, 0.05);
		border-radius: clamp(var(--container-padding), 3vw, var(--big-radius));
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
		align-items: center;
		gap: 8px;
	}

	&__text {
		p {
			font-size: 15px;
			font-weight: 600;
			line-height: 18px;
			margin-bottom: clamp(8px, 2vw, 16px);
			text-wrap: balance;
		}
	}

	&__items {
		display: flex;
		gap: clamp(6px, 1vw, 14px);
		justify-content: space-between;
	}
}

.faq:has(.slider) {
	padding-bottom: 0;
}

.slider {
	margin: 0 -24px;
	padding: clamp(var(--container-padding), 3vw, rem($generalPadding - 8)) 24px
		em($generalPadding);

	.swiper-button-next,
	.swiper-button-prev {
		opacity: 0;
		pointer-events: none;
		top: clamp(76px, 9vw, 90px);
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background-color: var(--subaccent-color);
		box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
		transition: all 0.3s ease 0s;
		&::after {
			content: "";
		}
		.icon--arrow {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accent-color);
				.icon--arrow {
					fill: var(--subaccent-color);
				}
			}
		}
		&.swiper-button-disabled {
			opacity: 0;
		}
	}

	.swiper-button-next {
		right: 0;
	}

	.swiper-button-prev {
		left: 0;
		.icon--arrow {
			rotate: 180deg;
		}
	}

	.swiper-pagination-bullets {
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 8px;
		height: 15px;
	}

	.swiper-pagination-bullet {
		transition: all 0.3s ease 0s;
		width: 10px;
		height: 10px;
		background-color: var(--accent-color);
		opacity: 0.3;
		&-active {
			width: 15px;
			height: 15px;
			opacity: 1;
		}
	}

	&__item {
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
		background-color: var(--subaccent-color);
		border-radius: 16px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		height: 160px;
		box-sizing: border-box;
		border-bottom: 18px solid var(--subaccent-color);
		overflow: hidden;
		gap: 12px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--bannerBg-color);
				border-color: var(--bannerBg-color);
				h3,
				p {
					color: var(--subaccent-color);
				}
			}
		}
		&:has(.slider__img) {
			.slider__text {
				padding-right: 0;
			}
		}
	}

	&__text {
		padding-left: 16px;
		padding-top: 16px;
		padding-right: 16px;
		p {
			color: var(--subtext-color);
			margin-top: 8px;
			font-size: 15px;
			line-height: 21px;
		}
	}

	&__img {
		img {
			width: 104px;
		}
	}
}

.notes {
	&__items {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding-top: clamp(var(--container-padding), 3vw, 2.5rem);
	}
	&__content {
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
		background-color: var(--subaccent-color);
		padding: 20px 24px;
		border-radius: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--accent-color);
				.notes__text {
					color: var(--subaccent-color);
					p {
						color: var(--subaccent-color);
					}
				}
				.icon--arrow {
					fill: var(--subaccent-color);
				}
			}
		}
	}
	&__text {
		max-width: 440px;
		flex-basis: 100%;
		color: var(--text-color);
		transition: all 0.3s ease 0s;
		p {
			transition: all 0.3s ease 0s;
			margin-top: 4px;
			font-size: 13px;
			line-height: 18.2px;
			color: var(--subtext-color);
		}
	}
}

.work {
	padding-top: 22px;
	&__body {
		max-width: 690px;
		> p {
			font-size: 15px;
			line-height: 21px;
		}
	}
	&__caption {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-bottom: 16px;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 28.8px;
	}

	&__contact {
		margin-top: 40px;
		p {
			font-weight: 700;
			font-size: 13px;
			line-height: 15.6px;
		}
	}

	&__actions {
		display: grid;
		grid-template-columns: 224px 48px 48px;
		align-items: center;
		gap: 8px;
		margin-top: 16px;
	}
}

.footer {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	text-align: center;
	padding: 20px 0;
}

@media (min-width: 619.98px) {
	.slider {
		.swiper-pagination-bullets {
			opacity: 0;
		}

		.swiper-button-prev,
		.swiper-button-next {
			opacity: 1;
			pointer-events: all;
		}
	}
}

@include mf-mobileSmall() {
	.social {
		&__items {
			justify-content: flex-end;
		}
	}
}
